# WhatsApp que receberá os comprovantes de pagamento (DDI + DDD + número, somente dígitos).
# Exemplo: 5551999999999
#NEXT_PUBLIC_ESSENCE_WHATSAPP=5551994611398
NEXT_PUBLIC_ESSENCE_WHATSAPP=5551993662353